/* SOLID */

@color00: #FFFFFF; // white
@color01: #666666; // grey
@color02: #758490; // grey-blue1
@color03: #9EAAB3; // grey-blue2
@color04: #E0E0E0; // grey-light1
@color05: #999999; // grey-light2
@color06: #333333; // grey-dark
@color07: #4362C8; // blue-mediun
@color08: #E7A501; // gold-dark
@color09: #E17170; // red-desaturated
@color10: #F2F2F2; // grey-light3
@color11: #A9A9A9; // grey-medium

/* TRANSPARENT */

@trasparent00: rgba(255, 255, 255, 0); // white-opcaity-0
@trasparent01: rgba(224, 224, 224, 0); // grey-opcaity-0
