/**
 * Application.less
 *
 * This file compiles to /public/assets/css/application.min.css
 * You should use it to import all your less components
 */
/* SOLID */
/* TRANSPARENT */
.header {
  background: url('../images/bg.png') repeat-x;
  height: 68px;
  font-size: 1.3em;
}
.help-input {
  background-color: #758490;
  border-color: #9eaab3;
}
.help-input,
.search-input {
  margin-bottom: 13px;
  margin-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
.search-input .inner-addon {
  position: relative;
}
.search-input .inner-addon input {
  border-radius: 0;
  padding-left: 30px;
}
.search-input .inner-addon .search-icon {
  background: url('../images/search-icon.png') no-repeat;
  height: 12px;
  margin: 10px;
  pointer-events: none;
  position: absolute;
  width: 12px;
}
.top-nav {
  position: relative;
}
.top-nav .notification-alert {
  background-color: #e17170;
  border-radius: 2px;
  bottom: 12px;
  left: -48px;
  position: absolute;
}
.top-nav .notification-alert span {
  color: #ffffff;
  display: inline-block;
  padding: 3px 9px;
}
.notifications-container {
  left: -321px;
  position: absolute;
  z-index: 10;
  top: 52px;
}
.notifications-content {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  position: relative;
  width: 318px;
}
.notifications-content:after,
.notifications-content::before {
  border: solid transparent;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 90%;
  pointer-events: none;
  position: absolute;
  width: 0;
}
.notifications-content:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
.notifications-content:before {
  border-color: rgba(224, 224, 224, 0);
  border-bottom-color: #e0e0e0;
  border-width: 9px;
  margin-left: -9px;
}
.notifications-content .notification-title {
  padding-top: 58px;
  position: relative;
}
.notifications-content .notification-title h3 {
  color: #666666;
  font-size: 1.238em;
  font-weight: 700;
  margin-top: 0;
  text-align: center;
}
.notifications-content .notification-title .notification-icon {
  background: url('../images/notification-icon.png') no-repeat;
  height: 30px;
  margin-right: 12px;
  width: 30px;
  bottom: 24px;
  left: 45%;
  position: absolute;
}
.notifications-content .notifications-list {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}
.notifications-content .notifications-list .notification-item .item-bg {
  background-color: #ffffff;
  padding: 10px 50px;
  position: relative;
}
.notifications-content .notifications-list .notification-item .item-bg .drag-icon {
  background: url('../images/drag-icon.png') no-repeat;
  height: 18px;
  margin-right: 12px;
  width: 18px;
  left: 17px;
  position: absolute;
  top: 17px;
}
.notifications-content .notifications-list .notification-item .item-bg h4 {
  color: #666666;
  font-size: 0.995em;
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 0;
}
.notifications-content .notifications-list .notification-item .item-bg p {
  font-size: 0.925em;
  margin: 0;
}
.notifications-content .trash-container p {
  background-color: #f2f2f2;
  color: #a9a9a9;
  font-size: 0.985em;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0;
  padding: 18px 50px 12px 75px;
}
.notifications-content .trash-container p .paper-icon {
  background: url('../images/paper-icon.png') no-repeat;
  height: 27px;
  margin-right: 12px;
  width: 20px;
  bottom: 15px;
  left: 50px;
  position: absolute;
}
.client-icon {
  background: url('../images/client-icon.png') no-repeat;
  height: 27px;
  margin-right: 12px;
  width: 27px;
}
.dashboard-icon {
  background: url('../images/dashboard-icon-selected.png') no-repeat;
  height: 27px;
  margin-right: 12px;
  width: 27px;
}
.document-icon {
  background: url('../images/document-icon.png') no-repeat;
  height: 27px;
  margin-right: 12px;
  width: 27px;
}
.employe-icon {
  background: url('../images/employe-icon.png') no-repeat;
  height: 27px;
  margin-right: 12px;
  width: 27px;
}
.machine-icon {
  background: url('../images/machine-icon.png') no-repeat;
  height: 27px;
  margin-right: 12px;
  width: 27px;
}
.menu {
  background: url('../images/separator.png') no-repeat;
  background-position: 142px 0;
  list-style-type: none;
  padding-left: 0;
}
.menu li {
  height: 50px;
}
.menu li a {
  color: #999999;
  display: inline-block;
  padding: 9px 9px 9px 26px;
  position: relative;
}
.menu li a span {
  display: inline-block;
}
.menu li a .menu-text {
  position: absolute;
  top: 16px;
}
.menu li.selected {
  background: url('../images/selected.png') no-repeat;
  background-position: 7px 0;
}
.menu li.selected a {
  color: #666666;
  font-weight: 700;
}
.col-md-2.news {
  height: 432px;
  padding-right: 0;
}
.col-md-2.cards .card-1 {
  width: 100%;
}
.col-md-2.cards .card-1 .news-container {
  height: 386px;
  overflow: hidden;
}
.col-md-2.cards .card-1 .news-container ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}
.cards {
  list-style-type: none;
  height: 206px;
  padding-left: 0;
  text-align: center;
}
.cards .card {
  border: 1px solid #e0e0e0;
  display: inline-block;
  height: 100%;
  position: relative;
}
.cards .card-1 {
  width: 31%;
}
.cards .card-1:first-child {
  margin-right: 3.5%;
}
.cards .card-1:last-child {
  margin-left: 3.5%;
}
.cards .card-3 {
  width: 100%;
}
.cards .card-3 .client-list {
  list-style-type: none;
  padding-left: 0;
}
.cards .card-3 .client-list li {
  display: inline-block;
  width: 25%;
}
.cards .card-3 .client-list .card-footer {
  width: 25%;
}
.cards .card-3.report {
  display: table;
  list-style-type: none;
  padding-left: 0;
  padding-top: 26px;
  text-align: left;
}
.cards .card-3.report li {
  display: table-cell;
}
.cards .card-3.report img {
  background: url('../images/report.png') no-repeat;
  height: 178px;
  margin-right: 20px;
  width: 390px;
}
.cards .card-3.report .report-text {
  position: relative;
  top: 8px;
  vertical-align: top;
}
.cards .card-3.report .report-text h3 {
  color: #333333;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 2px;
  margin-top: 0;
}
.cards .card-3.report .report-text .download {
  background: url('../images/button.png') no-repeat;
  margin-right: 12px;
  width: 137px;
  display: inline-block;
  height: 32px;
}
.cards .card-header {
  border-bottom: 1px solid #e0e0e0;
  padding: 13px 16px;
  position: relative;
  text-align: left;
}
.cards .card-header span[class$="-icon"]:not(.news-icon) {
  position: absolute;
  right: 0;
  top: 8px;
}
.cards .card-header .news-icon {
  background: url('../images/news-icon.png') no-repeat;
  height: 19px;
  margin-right: 12px;
  width: 19px;
  position: absolute;
  right: 0;
  top: 14px;
}
.cards .card-content {
  padding-top: 20px;
}
.cards .card-footer {
  bottom: 0;
  padding: 16px;
  position: absolute;
  width: 100%;
}
.cards .card-footer .bullet {
  display: inline-block;
  margin-left: 6px;
  position: relative;
  top: 1px;
  background: url('../images/bullet.png') no-repeat;
  height: 12px;
  margin-right: 12px;
  width: 12px;
}
.cards .card-footer .bullet.success {
  background-image: url('../images/bullet-success.png');
}
.cards .card-footer .bullet.cancel {
  background-image: url('../images/bullet-cancel.png');
}
.cards .card-footer .bullet.expanded {
  margin-left: 12px;
}
.line {
  margin-bottom: 20px;
}
.line:last-child {
  margin-bottom: 0;
}
.new-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 0 12px;
}
.new-item h4 {
  color: #4362c8;
  font-size: 1.08em;
  line-height: 1.6;
  margin-bottom: 0;
}
.new-item p {
  font-size: 0.95em;
}
.new-item:last-child {
  border-bottom: 0;
}
footer {
  border-top: 1px solid #e7a501;
  margin-top: 60px;
  padding: 20px 20px 0 20px;
}
footer a {
  font-size: 1.3em;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer ul > li {
  display: inline-block;
}
footer > ul > li {
  text-align: center;
  width: 33%;
}
footer .left-nav {
  text-align: left;
}
footer .left-nav li {
  padding-left: 20px;
}
footer .right-nav {
  text-align: right;
}
footer .right-nav li {
  padding-right: 20px;
}
.navbar {
  height: 100%;
  min-height: none;
}
.navbar-nav > li {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.navbar-nav > li > a {
  color: #666666;
  font-weight: 700;
  padding: 18px 60px 19px;
  position: relative;
}
.navbar-nav > li > a .home-icon {
  background: url('../images/home-icon.png') no-repeat;
  height: 17px;
  margin-right: 12px;
  width: 21px;
  position: relative;
  top: 2px;
}
.navbar-nav > li > a span {
  display: inline-block;
}
.navbar-brand {
  background: url('../images/logo.png') no-repeat center;
  height: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  text-indent: -1000px;
  width: 37px;
}
body {
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  line-height: 20px;
}
.content-padding {
  padding: 0 25px;
}
header h1 {
  color: #333333;
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 6px;
}
.main {
  color: #999999;
  font-size: 1.3em;
}
.title-container {
  height: 80px;
}
.title-container > div {
  height: 80px;
}
.title-container .company-logo {
  background: url('../images/company-logo.png') no-repeat;
  display: block;
  height: 70px;
  margin: 5px auto;
  text-indent: -1000px;
  width: 70px;
}
